apiVersion: webhookconfig.keptn.sh/v1alpha1
kind: WebhookConfig
metadata:
  name: webhook-configuration
spec:
  webhooks:
    - type: sh.keptn.event.hello-world.triggered
      sendStarted: true
      sendFinished: true
      requests:
        - "curl -X POST 'https://dev.azure.com/AdamGardner0041/test/_apis/pipelines/4/runs?api-version=6.0-preview.1' -H 'Authorization: Basic {{.env.secret_adotoken_bearer}}' -H 'Content-Type: application/json' --data-raw '{ }'"
      envFrom:
        - name: secret_adotoken_bearer
          secretRef:
            name: adotoken
            key: bearer
      subscriptionID: 90732947-491a-4d84-b0f9-5c0b033ac037
