apiVersion: webhookconfig.keptn.sh/v1alpha1
kind: WebhookConfig
metadata:
  name: webhook-configuration
spec:
  webhooks:
    - type: sh.keptn.event.hello-world.triggered
      requests:
        - "curl --header 'Content-Type: application/json' --header
          'Authorization: Basic {{.env.secret_adotoken_bearer}}' --request POST
          --data
          '{\"variables\":{\"keptnProject\":{\"isSecret\":false,\"value\":\"{{
          .data.project
          }}\"},\"keptnService\":{\"isSecret\":false,\"value\":\"{{
          .data.service }}\"},\"keptnStage\":{\"isSecret\":false,\"value\":\"{{
          .data.stage }}\"},\"keptnContext\":{\"isSecret\":false,\"value\":\"{{
          .shkeptncontext
          }}\"},\"keptnTriggeredId\":{\"isSecret\":false,\"value\":\"{{ .id
          }}\"}}}'
          https://dev.azure.com/AdamGardner0041/test/_apis/pipelines/4/runs?api\
          -version=6.0-preview.1"
      envFrom:
        - name: secret_adotoken_bearer
          secretRef:
            name: adotoken
            key: bearer
      subscriptionID: 75ccb6a7-3c6a-431a-bd20-8463e21da804
