apiVersion: webhookconfig.keptn.sh/v1alpha1
kind: WebhookConfig
metadata:
  name: webhook-configuration
spec:
  webhooks:
    - type: sh.keptn.event.hello-world.triggered
      sendStarted: true
      sendFinished: true
      requests:
        - "curl --header 'Authorization: Basic {{.env.secret_adotoken_bearer}}'
          --header 'Content-Type: application/json' --request POST --data '{}'
          https://dev.azure.com/AdamGardner0041/test/_apis/pipelines/4/runs?api\
          -version=6.0-preview.1"
      subscriptionID: 76958068-1939-4054-8d28-e738871d5ca0
