apiVersion: webhookconfig.keptn.sh/v1alpha1
kind: WebhookConfig
metadata:
  name: webhook-configuration
spec:
  webhooks:
    - type: sh.keptn.event.hello-world.triggered
      requests:
        - "curl --header 'Authorization: Basic {{.env.secret_adotoken_bearer}}'
          --header 'Content-Type: application/json' --request POST --data
          '{\"variables\":{\"keptnProject\":{\"isSecret\":false,\"value\":\"{{
          .data.project
          }}\"},\"keptnService\":{\"isSecret\":false,\"value\":\"ServiceValueFr\
          omWebhook\"},\"keptnStage\":{\"isSecret\":false,\"value\":\"StageValu\
          eFromWebhook\"},\"keptnContext\":{\"isSecret\":false,\"value\":\"Kept\
          nContextFromWebhook\"}}}'
          https://dev.azure.com/AdamGardner0041/test/_apis/pipelines/4/runs?api\
          -version=6.0-preview.1"
      envFrom:
        - name: secret_adotoken_bearer
          secretRef:
            name: adotoken
            key: bearer
      subscriptionID: 76958068-1939-4054-8d28-e738871d5ca0
    - type: sh.keptn.event.hello-world.triggered
      requests:
        - curl --request POST --data
          '{"variables":{"keptnProject":{"isSecret":false,"value":"{{
          .data.project
          }}"},"keptnService":{"isSecret":false,"value":"ServiceValueFromWebhook"},"keptnStage":{"isSecret":false,"value":"StageValueFromWebhook"},"keptnContext":{"isSecret":false,"value":"KeptnContextFromWebhook"}}}'
          https://webhook.site/4d796d31-f4f6-4c13-a2e6-ef5cb58d2db6
      subscriptionID: e3652045-7d7e-4024-987b-d75ace9a9caf
