apiVersion: webhookconfig.keptn.sh/v1alpha1
kind: WebhookConfig
metadata:
  name: webhook-configuration
spec:
  webhooks:
    - type: sh.keptn.event.hello-world.triggered
      sendFinished: true
      requests:
        - curl --request POST --data
          '{"variables":{"keptnProject":{"isSecret":false,"value":"{{
          .data.project }}"},"keptnService":{"isSecret":false,"value":"{{
          .data.service }}"},"keptnStage":{"isSecret":false,"value":"{{
          .data.stage }}"},"keptnContext":{"isSecret":false,"value":"{{
          .shkeptncontext }}"},"keptnTriggeredId":{"isSecret":false,"value":"{{
          .id }}"}}}' https://webhook.site/4d796d31-f4f6-4c13-a2e6-ef5cb58d2db6
      subscriptionID: e3652045-7d7e-4024-987b-d75ace9a9caf
